<a href="https://colab.research.google.com/github/LeMagnifiq/MavenNorthwindDataCleaning/blob/main/NorthwindTraders_Data_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Libraries
import pandas as pd

In [ ]:
#Datasets
orders = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/orders.csv')
order_details = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/order_details.csv')
customers = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/customers.csv', encoding='ISO-8859-1')
products = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/products.csv', encoding='ISO-8859-1')
categories = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/categories.csv', encoding='ISO-8859-1')
employees = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/employees.csv', encoding='ISO-8859-1')
shippers = pd.read_csv('/content/drive/MyDrive/Northwind Challenge/shippers.csv', encoding='ISO-8859-1')

In [ ]:
# Merge the orders table with the order_details table
data = pd.merge(orders, order_details, on='orderID')

# Merge the result with the customers, products, employees, and shippers tables
data = pd.merge(data, customers, on='customerID')
data = pd.merge(data, products, on='productID')
data = pd.merge(data, employees, on='employeeID')
data = pd.merge(data, shippers, on='shipperID')

# Merge with the categories table last since it connects to products
data = pd.merge(data, categories, left_on='categoryID', right_on='categoryID')

In [ ]:
# Checking the data for missing values
print(data.isnull().sum())

orderID              0
customerID           0
employeeID           0
orderDate            0
requiredDate         0
shippedDate         73
shipperID            0
freight              0
productID            0
unitPrice_x          0
quantity             0
discount             0
companyName_x        0
contactName          0
contactTitle         0
city_x               0
country_x            0
productName          0
quantityPerUnit      0
unitPrice_y          0
discontinued         0
categoryID           0
employeeName         0
title                0
city_y               0
country_y            0
reportsTo          241
companyName_y        0
categoryName         0
description          0
dtype: int64

In [ ]:
# Fill NaN values in 'shippedDate' with 'requiredDate'
data['shippedDate'] = data['shippedDate'].fillna(data['requiredDate'])

# Fill NaN values in 'reportsTo' with 0
data['reportsTo'] = data['reportsTo'].fillna(0)
print(data.isnull().sum())

orderID            0
customerID         0
employeeID         0
orderDate          0
requiredDate       0
shippedDate        0
shipperID          0
freight            0
productID          0
unitPrice_x        0
quantity           0
discount           0
companyName_x      0
contactName        0
contactTitle       0
city_x             0
country_x          0
productName        0
quantityPerUnit    0
unitPrice_y        0
discontinued       0
categoryID         0
employeeName       0
title              0
city_y             0
country_y          0
reportsTo          0
companyName_y      0
categoryName       0
description        0
dtype: int64

In [ ]:
# Check for duplicates
print(data.duplicated().sum())

0

In [ ]:
# Ensure date fields are in the correct datetime format
data['orderDate'] = pd.to_datetime(data['orderDate'])
data['requiredDate'] = pd.to_datetime(data['requiredDate'])
data['shippedDate'] = pd.to_datetime(data['shippedDate'])

In [ ]:
print(data.columns)

Index(['orderID', 'customerID', 'employeeID', 'orderDate', 'requiredDate',
       'shippedDate', 'shipperID', 'freight', 'productID', 'unitPrice_x',
       'quantity', 'discount', 'companyName_x', 'contactName', 'contactTitle',
       'city_x', 'country_x', 'productName', 'quantityPerUnit', 'unitPrice_y',
       'discontinued', 'categoryID', 'employeeName', 'title', 'city_y',
       'country_y', 'reportsTo', 'companyName_y', 'categoryName',
       'description'],
      dtype='object')

In [ ]:
# Save DataFrame to a new CSV file in the specified location
data.to_csv('/content/drive/MyDrive/Northwind Challenge/northwind_clean_data.csv', index=False)